[submodule "src/syzygy"]
	path = src/syzygy
	url = git@github.com:ameter/Fathom.git
        ignore = dirty
[submodule "tools/stats"]
	path = tools/stats
	url = git@github.com:ameter/stats.git
        ignore = dirty
[submodule "src/nnue"]
	path = src/nnue
	url = git@github.com:ameter/nnue.git